<div class="header">
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
      <a class="navbar-brand" routerLink="">Delica</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto" >
        <li class="nav-item active" *ngIf ="!userService.loggedIn()">
          <a class="nav-link" routerLink="user/register">Register</a>
    
        </li>
        <li class="nav-item"*ngIf ="!userService.loggedIn()">
          <a class="nav-link" routerLink="user/login">Login </a>
    
        </li>

            
        <li class="nav-item" *ngIf="userService.loggedIn()">
          <a class="nav-link" routerLink="/restos/add-resto">Add Restaurant</a>
    
        </li> 
            
        <li class="nav-item">
          <a class="nav-link" routerLink="/restos">List Restaurants</a>
    
        </li>  
        <li class="nav-item" *ngIf ="userService.loggedIn()">
          <a class="nav-link" style="cursor: pointer" (click)="userService.logOut()">Log Out</a>
        </li>
        
        
        </ul>
      </div>
    </nav>
    </div>
